{{ if isset .Site.Params "basic" }}
{{ if .Site.Params.basic.enable }}
<style>
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.headertext {
  margin-top: -10px;
  margin-bottom: -13px;
  margin-right: 0px;
  margin-left: 20px;
  text-decoration:none;
}

.portrait_img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

</style>
<section class="bar background-white no-mb">
    <div class="container">
        <div class="col-12 col-lg-4">
          <div id="profile">
            <img class="image-cropper" src="img/avatar.jpg" class=".portrait_img">
          </div>
          <div class="portrait-title">
              <h2><p class='headertext'>Cesar Aybar</p></h2>
              <h4><font color='#888888'>Geographical Engineering</font></h4>
              <h4><p style='margin-left: 60px;'><font color='#888888'>UNMSM</font></p></h4>
          </div>
          <div class="social">
            <a href="mailto:csaybar@gmail.com" target="_blank" style="opacity: 1;"><i class="fas fa-2x fa-envelope"></i></a>
            <a href="http://twitter.com/csaybar" target="_blank" style="opacity: 1;"><i class="fab fa-2x fa-twitter"></i></a>
            <a href="https://github.com/csaybar" target="_blank" style="opacity: 1;"><i class="fab fa-2x fa-github"></i></a>
            <a href="https://scholar.google.com/citations?user=rfF51ocAAAAJ&amp;hl=en" target="_blank" style="opacity: 1;"><i class="ai ai-2x ai-google-scholar-square"></i></a>
            <a href="https://sourcerer.io/csaybar" target="_blank" style="opacity: 1;"><i class="fab fa-stripe-s fa-2x"></i></a>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <h2>Hi, Cesar here. Welcome to my personal website!</h2>
      I am a Peruvian graduate student of Copernicus Master in Digital Earth, with knowledge in web development and DevOps, that love to read about computer vision and deep learning. Previously, I held academic positions at <a href="https://www.senamhi.gob.pe/"> National Weather Service and Hydrology of Peru (SENAMHI)</a> and <a href="http://www.unmsm.edu.pe/">San Marcos University (UNMSM)</a>.
      
<p></p>

I am currently writing a paper that proposes the use of <b>attention based Convolution Neural Networks for identifying sources of errors caused by humans in manned meteorological stations</b>. Past projects include the development of a high-resolution gridded rainfall dataset for Peru and the generation of indices and maps to understand better the climate and extreme events from the Central Altiplano of Peru and Bolivia. I have worked on the development of a number of R/Python packages for automatizing theoretical variograms fitting, improving the control quality of rain gauges, and detecting deforestation. I am the author of <b>rgee</b>, a binding library that permits you to use Google Earth Engine from R.
<p></p>
I have taught <b>Introduction to Algorithms</b> a couple of times at undergraduate level at San Marcos University, Peru, and I have been invited to deliver talks and training courses on geospatial analysis and geostatistic at <a href="http://www.so-hybam.org/index.php/eng/Documentos/Encuentros-cientificos/VIIa-reunion-cientifica-del-SO-HYBAM-Niteroi-20172/Sesiones-tematicas/3.-Hidrologia-espacial">international workshops</a>. I have also created online educational materials most of them to learn <a href="https://colab.research.google.com/github/csaybar/EEwPython/blob/master/index.ipynb">how to use Google Earth Engine with Python.</a>
<p></p>

I received my Bachelor's in Geographical Engineering from the University of San Marcos, Peru.

<h3>Aknowledgements</h3>
<img src="https://66.media.tumblr.com/427db1594732af1652315d5a0e8b08d5/e0f4b8ce09f4a755-fd/s500x750/1257bdc47094abfd0c78349fb04b43aa9805a450.jpg">
<img src="https://66.media.tumblr.com/9861717aee2f64e198e3a1ecd85b0b40/e0f4b8ce09f4a755-68/s500x750/e5816dbc91fcb1bebdebae6a6531eaa15cf15302.jpg">

    </div>
  </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
